@import "~src/styles/utils";

.summary {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  @include responsiveProp(border-radius, $defaultMargin);
  @include responsiveProp(margin-bottom, $halfMargin);
  border-color: $dividerColor;
  border-width: 1px;
  border-style: solid;

  .table {
    margin-bottom: 0;
  }
}
