@import "~src/styles/utils";

.summary {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  @include responsiveProp(border-radius, $defaultMargin);
  @include responsiveProp(margin-bottom, $defaultMargin);
  border-color: $dividerColor;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: flex-start;

  &.dark {
    border-color: $dividerColorDark;

    .table {
      th {
        color: $primaryControlColorDark;
        border-bottom: 1px solid $dividerColorDark;

      }
      tr.even-row {
        background-color: $secondaryColorDark;
      }
    }
  }

  .table {
    margin-bottom: 0;
    border-collapse: collapse;
    flex-grow: 1;

    th {
      border-bottom: 1px solid $dividerColor;
      color: $primaryControlColor;
      font-weight: 500;
    }

    th, td {
      padding: .75rem;
      text-align: left;
      vertical-align: middle;
    }

    td.name {

    }
    td.data {
      font-weight: 500;
    }

    tr.even-row {
      background-color: $secondaryColor;
    }
  }
}
