<app-summary-table *ngIf="nationalSummary as nationalSummary">
  <thead>
  <tr>
    <th scope="col">Indicatori di sintesi</th>
    <th scope="col">Italia</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Nuovi positivi nell'ultimo giorno</td>
    <td>
      {{ nationalSummary.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="nationalSummary.newPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  <tr>
    <td>Nuovi negli ultimi 7 giorni</td>
    <td>
      {{ nationalSummary.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="nationalSummary.weeklyPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  <tr>
    <td>Occupazione terapie intensive nell'ultimo giorno</td>
    <td>
      {{ nationalSummary.tiPercentage | percent:'1.2-2' }}
      <app-increment-icon [value]="nationalSummary.tiIncrement"></app-increment-icon>
    </td>
  </tr>
  </tbody>
</app-summary-table>
