/**
 * Global styles file. You can add global styles to this file
 * and also import other style files.
 */

// Normalize.css is a customisable CSS file that makes browsers render all
// elements more consistently and in line with modern standards.
@import "node_modules/normalize-scss/sass/normalize";

// the custom theme used to enable angular material
@import "styles/globals/material-custom-theme";

// main utils, used across the app
@import "styles/utils";

.dark {
  background-color: $backgroundColorDark;
  color: $secondaryControlColorDark;

  h1 {
    color: $primaryControlColorDark;
  }

  h2 {
    color: $primaryControlColorDark;
  }
}

html, body {
  height: 100%;
  margin: 0;
  color: $secondaryControlColor;
  @include bodyFont;
  line-height: 1.6;

  // disables default focus for button, as a visual feedback is handled by AngularMaterial
  button {
    outline:none !important;
  }

  strong {
    color: $primaryColor;
  }

  a {
    color: $primaryColor;
  }

  svg {
    vertical-align: top;
  }
  // Font used for generic titles.
  h1 {
    @include titleFont;
    color: $primaryControlColor;
    @include responsiveProp(margin-bottom, $halfMargin);
    margin-top: 0;
    line-height: 1.6;
  }

  // Font used for an important body text, such as a card title.
  h2 {
    @include subtitleFont;
    color: $primaryControlColor;
    @include responsiveProp(margin-top, $defaultMargin);
    @include responsiveProp(margin-bottom, $halfMargin);
    line-height: 1.6;
  }

  p {
    margin-top: 0;
    @include responsiveProp(margin-bottom, $halfMargin);
    line-height: 1.6;
  }

  ul {
    padding-inline-start: 20px;
  }

  li {
    margin-top: 0;
    @include responsiveProp(margin-bottom, $quarterMargin);
  }
}

