<div class="page">
  <h1>Marche</h1>
  <p>
    Analisi incentrate su dati regionali e provinciali della Regione Marche, in quanto di interesse personale un
    focus particolare su questa regione.
  </p>

  <h2>Parametri Marche in valori assoluti</h2>

  <p>
    Il grafico raffronta differenti indicatori a livello regionale, in valori assoluti:
  </p>
  <ul>
    <li>La linea blu riporta i decessi giornalieri (in media mobile di 7 giorni);</li>
    <li>La linea gialla riporta l'ammontare dei pazienti in terapia intensiva, per ogni giorno;</li>
    <li>La linea verde riporta i nuovi positivi registrati ogni giorno (in media mobile di 7 giorni);</li>
    <li>La linea rossa riporta i'ammontare dei pazienti ricoverati con sintomi per COVID-19, per ogni giorno.</li>
  </ul>

  <app-image src="https://raw.githubusercontent.com/maldins46/CovidAnalysis/main/assets/parametri_marche.png"
             alt="Parametri Marche"></app-image>

  <h2>Nuovi positivi per provincia delle Marche, per 100.000 abitanti</h2>

  <p>
    Il grafico indica i nuovi casi positivi registrati ogni giorno, tramite tampone molecolare, per ogni provincia
    della regione Marche. Il dato è scalato sul 100.000 abitanti, rendendo così possibile mettere in relazione tra
    loro le province, tenendo conto della diversa densità di popolazione. Il dato provinciale è fortemente instabile:
    per la consultazione, è stata effettuata una media mobile su un periodo di 14 giorni, il che porta ad avere il dato
    arretrato temporalmente di una settimana. È riportata, con la traccia semi-trasparente, la media italiana.
  </p>

  <app-image
    src="https://raw.githubusercontent.com/maldins46/CovidAnalysis/main/assets/totale_casi_per_province_marche.png"
    alt="Casi Marche">
  </app-image>

  <h2>Nuovi positivi per provincia delle Marche, in valori assoluti</h2>

  <app-image
    src="https://raw.githubusercontent.com/maldins46/CovidAnalysis/main/assets/totale_casi_per_province_marche_abs.png"
    alt="Casi Marche abs">
  </app-image>

  <p>
    Il grafico indica i nuovi casi positivi registrati ogni giorno, tramite tampone molecolare, per ogni provincia
    della regione Marche. Il dato è riportato in valosi assoluti, per evidenziare il numero effettivo di casi di ogni
    provincia. Il dato provinciale è fortemente instabile: per la consultazione, è stata effettuata una media mobile
    su un periodo di 14 giorni, il che porta ad avere il dato arretrato temporalmente di una settimana. È riportata,
    con la traccia semi-trasparente, la media italiana.
  </p>
</div>

<app-main-appbar></app-main-appbar>
