<app-page>
  <h1>Marche</h1>
  <p>
    Analisi incentrate su dati regionali e provinciali della Regione Marche, in quanto di interesse personale un
    focus particolare su questa regione.
  </p>

  <h2>Indicatori di sintesi</h2>
  <ul *ngIf="marcheSummary as marcheSummary">
    <li>
      Ultimo aggiornamento dei dati della pagina:<br>
      <strong>{{marcheSummary.upd_date | extendedDate}}</strong>;
    </li>
    <li>
      Nuovi positivi nella giornata corrente:<br>
      Ancona
      <strong>
        {{ marcheSummary.ancona.new_positives | number: '1.0-2' }}
      </strong>,
      Macerata
      <strong>
      {{ marcheSummary.macerata.new_positives | number: '1.0-2' }}
      </strong>,
      Pesaro e Urbino
      <strong>
        {{ marcheSummary.pesaro_e_urbino.new_positives | number: '1.0-2' }}
      </strong>,
      Fermo
      <strong>
        {{ marcheSummary.fermo.new_positives | number: '1.0-2' }}
      </strong>,
      Ascoli Piceno
      <strong>
        {{ marcheSummary.ascoli_piceno.new_positives | number: '1.0-2' }}
      </strong>;
    </li>
    <li>
      Incremento percentuale dei nuovi positivi, rispetto alla media dello stesso giorno della settimana, nelle 4 settimane precedenti:<br>
      Ancona
      <strong [ngStyle]="{'color': marcheSummary.ancona.perc_increment_on_4_weeks > 0 ? '#f44336' : '#14AF14'}">
        {{ marcheSummary.ancona.perc_increment_on_4_weeks > 0 ? '+' : '' }}{{ marcheSummary.ancona.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>,
      Macerata
      <strong [ngStyle]="{'color': marcheSummary.macerata.perc_increment_on_yesterday > 0 ? '#f44336' : '#14AF14'}">
        {{ marcheSummary.macerata.perc_increment_on_4_weeks > 0 ? '+' : '' }}{{ marcheSummary.macerata.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>,
      Pesaro e Urbino
      <strong [ngStyle]="{'color': marcheSummary.pesaro_e_urbino.perc_increment_on_yesterday > 0 ? '#f44336' : '#14AF14'}">
        {{ marcheSummary.pesaro_e_urbino.perc_increment_on_4_weeks > 0 ? '+' : '' }}{{ marcheSummary.pesaro_e_urbino.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>,
      Fermo
      <strong [ngStyle]="{'color': marcheSummary.fermo.perc_increment_on_4_weeks > 0 ? '#f44336' : '#14AF14'}">
        {{ marcheSummary.fermo.perc_increment_on_4_weeks > 0 ? '+' : '' }}{{ marcheSummary.fermo.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>,
      Ascoli piceno
      <strong [ngStyle]="{'color': marcheSummary.ascoli_piceno.perc_increment_on_4_weeks > 0 ? '#f44336' : '#14AF14'}">
        {{ marcheSummary.ascoli_piceno.perc_increment_on_4_weeks > 0 ? '+' : '' }}{{ marcheSummary.ascoli_piceno.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>;
    </li>
  </ul>

  <h2>Parametri Marche in valori assoluti</h2>

  <p>
    Il grafico raffronta differenti indicatori a livello regionale, in valori assoluti:
  </p>
  <ul>
    <li>La linea blu riporta i decessi giornalieri (in media mobile di 7 giorni);</li>
    <li>La linea gialla riporta l'ammontare dei pazienti in terapia intensiva, per ogni giorno;</li>
    <li>La linea verde riporta i nuovi positivi registrati ogni giorno (in media mobile di 7 giorni);</li>
    <li>La linea rossa riporta i'ammontare dei pazienti ricoverati con sintomi per COVID-19, per ogni giorno.</li>
  </ul>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/parametri_marche.png"
             alt="Parametri Marche"></app-image>

  <h2>Nuovi positivi per provincia delle Marche, per 100.000 abitanti</h2>

  <p>
    Il grafico indica i nuovi casi positivi registrati ogni giorno, tramite tampone molecolare, per ogni provincia
    della regione Marche. Il dato è scalato sul 100.000 abitanti, rendendo così possibile mettere in relazione tra
    loro le province, tenendo conto della diversa densità di popolazione. Il dato provinciale è fortemente instabile:
    per la consultazione, è stata effettuata una media mobile su un periodo di 14 giorni, il che porta ad avere il dato
    arretrato temporalmente di una settimana. È riportata, con la traccia semi-trasparente, la media italiana.
  </p>

  <app-image
    src="https://maldins46.github.io/CovidAnalysis/assets/data/totale_casi_per_province_marche.png"
    alt="Casi Marche">
  </app-image>

  <h2>Nuovi positivi per provincia delle Marche, in valori assoluti</h2>

  <p>
    Il grafico indica i nuovi casi positivi registrati ogni giorno, tramite tampone molecolare, per ogni provincia
    della regione Marche. Il dato è riportato in valosi assoluti, per evidenziare il numero effettivo di casi di ogni
    provincia. Il dato provinciale è fortemente instabile: per la consultazione, è stata effettuata una media mobile
    su un periodo di 14 giorni, il che porta ad avere il dato arretrato temporalmente di una settimana. È riportata,
    con la traccia semi-trasparente, la media italiana.
  </p>

  <app-image
    src="https://maldins46.github.io/CovidAnalysis/assets/data/totale_casi_per_province_marche_abs.png"
    alt="Casi Marche abs">
  </app-image>
</app-page>
