[submodule "GvtOpenData"]
	path = GvtOpenData
	url = https://github.com/pcm-dpc/COVID-19.git
[submodule "VaccineOpenData"]
	path = VaccineOpenData
	url = https://github.com/italia/covid19-opendata-vaccini.git
