@import "~src/styles/utils";

a.text-menu {
  height: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $tertiaryControlColor;
  @include responsiveProp(margin-left, $halfMargin);
  @include responsiveProp(padding-left, $halfMargin);
  @include responsiveProp(padding-right, $halfMargin);
  border-radius: 24px;
  background: $tertiaryColor;
  transition: 0.2s;
  font-weight: 300;

  &.dark {
    background: $tertiaryControlColorDark;

    &:hover {
      background: $secondaryColorTransp;
    }

    &.active {
      color: $primaryColor;
      background: $secondaryColorTransp;
    }
  }

  &:hover {
    background: $secondaryColor;
  }

  &.active {
    color: $primaryColor;
    background: $secondaryColor;
  }

  .icon {
    @include responsiveProp(margin-right, $quarterMargin);
  }
}
