@import "~src/styles/utils";

.notifications-action {

  transition: 0.2s;
  color: $tertiaryControlColor;

  &:hover {
    background: $secondaryColor;
  }

  &.dark {
    color: $tertiaryControlColor;

    &:hover {
      background: $secondaryColorTransp;
    }
  }
}
