@import "~src/styles/utils";

.update-chip-container {
  display: flex;
  justify-content: center;

  .update-chip {
    @include chip;
    background-color: $secondaryColor;
    align-content: center;
    text-align: center;
    color: $primaryColor;
    @include responsiveProp(margin-top, $defaultMargin);
  }
}

