@import "~src/styles/utils";

nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .bottom-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:100%;
    -webkit-tap-highlight-color: transparent;
    color: $secondaryControlColor;
    padding: 0 $marginSmartphone / 2;
    transition: 0.2s;
    font-size: 12px;
    font-weight: 500;

    &.active {
      color: $primaryColor;
      font-size: 13px;
    }

    &:hover {
      text-decoration: none;
    }

    .icon {

    }
    .title {

    }
  }

}
