@import "~src/styles/utils";

.appbar {
  background: $backgroundColor;
  box-shadow: $defaultShadow;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  top: 0;
  width: 100%;
  transition: 0.2s;


  &.dark {
    background: $backgroundDetailsColorDark;
  }

  a.headline {
    text-decoration: none;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;

    h1.title {
      @include titleFont;
      color: $primaryColor;
      margin: 0 0 0 8px;
      @include responsiveProp(margin-right, $halfMargin);
      @include singleLineEllispis;
      line-height: 1.6;
    }

    img.logo {
      height: 100%;
      margin-right: 8px;
    }
  }

  .right-actions {
    display: flex;
    flex-direction: row;

    .toggles {
      @include responsiveProp(margin-left, $halfMargin);
      display: flex;
      align-items: center;
      flex-direction: row;
      background: $tertiaryColor;
      border-radius: 48px;

      &.dark {
        background: $tertiaryControlColorDark;
      }
    }

    .menu {
      @include hide();

      @include forDesktopOnly() {
        @include show();
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-inline-start: 0;

        li {
          margin: 0
        }
      }
    }
  }
}
