<app-page>
  <h1>Italia</h1>
  <p>
    Grafici, analisi e indicatori utili a descrivere la situazione a
    livello nazionale e regionale. Focus particolare viene posto su tre regioni prese come
    "benchmark", rappresentative di situazioni differenti: <strong>Veneto</strong>,
    <strong>Toscana</strong>, <strong>Marche</strong>.
    L'ultimo aggiornamento ai dati mostrati in questa pagina risale al {{ nationalSummary?.lastUpdate | extendedDate }}.
  </p>

  <app-italy-summary-table [nationalSummary]="nationalSummary"></app-italy-summary-table>

  <p>
    Le frecce a fianco agli indicatori di sintesi indicano se il valore è in aumento o diminuzione rispetto
    al giorno/settimana precedente. L'incremento è calcolato in media mobile di 7 giorni, così da rendere il
    valore meno sensibile ai ritardi di registrazione.
  </p>

  <h2>Incidenza settimanale</h2>
  <p>
    Vari grafici che trattano il valore di incidenza settimanale dei nuovi casi registrati, scalati su 100.000 abitanti
    per rendere possibile i raffronto tra le varia aree.
    Il valore di incidenza esprime la differenza tra il totale dei casi registrati fino a un certo giorno
    <strong>n</strong>, rispetto al giorno <strong>n - 7</strong>.
  </p>

  <app-carousel [slides]="incidenceSlides"></app-carousel>

  <h2>Occupazione terapie intensive</h2>

  <p>
    Vari grafici che trattano la percentuale di occupazione dei reparti di terapia intensiva,
    calcolata come <strong>n° posti occupati / n° posti disponibili</strong>.
  </p>

  <app-carousel [slides]="tiSlides"></app-carousel>

  <h2>Ulteriori indicatori</h2>

  <p>
    Ulteriori grafici che raffrontano altri indicatore di interesse per l'analisi della situazione
    attuale.
  </p>

  <app-carousel [slides]="otherSlides"></app-carousel>

</app-page>


