<app-page>
  <h1>Italia</h1>
  <p>
    Grafici, analisi e indicatori utili a descrivere la situazione a
    livello nazionale, oltre a un rapido excursus sui parametri per il calcolo del sistema a zone.
  </p>

  <h2>Indicatori di sintesi</h2>
  <ul *ngIf="nationalSummary as nationalSummary">
    <li>
      Ultimo aggiornamento dei dati della pagina:
      <strong>{{nationalSummary.upd_date | extendedDate}}</strong>;
    </li>
    <li>
      Nuovi positivi nella giornata corrente:
      <strong>
        {{ nationalSummary.new_positives | number: '1.0-2' }}
      </strong>;
    </li>
    <li>
      Incremento percentuale dei nuovi positivi, rispetto al giorno precedente:
      <strong [ngStyle]="{'color': nationalSummary.perc_increment_on_yesterday > 0 ? '#f44336' : '#14AF14'}">
        {{ nationalSummary.perc_increment_on_yesterday > 0 ? '+' : '-' }}
        {{ nationalSummary.perc_increment_on_yesterday | percent:'1.2-2' }}
      </strong>;
    </li>
    <li>
      Incremento percentuale dei nuovi positivi, rispetto alla media dello stesso giorno della settimana, nelle 4 settimane precedenti:
      <strong [ngStyle]="{'color': nationalSummary.perc_increment_on_4_weeks > 0 ? '#f44336' : '#14AF14'}">
        {{ nationalSummary.perc_increment_on_4_weeks > 0 ? '+' : '-' }}
        {{ nationalSummary.perc_increment_on_4_weeks | percent:'1.2-2' }}
      </strong>;
    </li>
    <li>
      Percentuale occupazione posti TI:
      <strong>
        {{ nationalSummary.ti_percentage | percent:'1.2-2' }}
      </strong>;
    </li>
    <li>
      Incremento percentuale occupazione TI rispetto al giorno precedente:
      <strong [ngStyle]="{'color': nationalSummary.ti_perc_increment > 0 ? '#f44336' : '#14AF14'}">
        {{ nationalSummary.ti_perc_increment > 0 ? '+' : '-' }}
        {{ nationalSummary.ti_perc_increment | percent:'1.2-2' }}
      </strong>;
    </li>
  </ul>

  <h2>Parametri nazionali in valori assoluti</h2>

  <p>
    Il grafico raffronta differenti indicatori a livello nazionale, in valori assoluti:
  </p>
  <ul>
    <li>La linea blu riporta i decessi giornalieri (in media mobile di 7 giorni);</li>
    <li>La linea gialla riporta l'ammontare dei pazienti in terapia intensiva, per ogni giorno;</li>
    <li>La linea verde riporta i nuovi positivi registrati ogni giorno (in media mobile di 7 giorni);</li>
    <li>La linea rossa riporta i'ammontare dei pazienti ricoverati con sintomi per COVID-19, per ogni giorno.</li>
  </ul>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/parametri_italia.png"
             alt="Parametri Italia"></app-image>

  <h2>Come funziona il sistema a zone?</h2>
  <p>
    A partire dal 16 di gennaio, i colori delle varie regioni vengono determinati sulla base di livello di rischio,
    valore dell'indice R(t) e in base all'incidenza settimanale dei casi. Il meccanismo
    <a href="https://www.youtrend.it/2021/01/14/come-funziona-il-nuovo-sistema-per-decidere-i-colori-delle-regioni/">
      viene spiegato molto bene da YouTrend</a>. Il grafico qui riportato proviene dallo stesso articolo:
  </p>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/sist_colori.png"
             alt="Sistema a zone"></app-image>

</app-page>


