<mat-toolbar class="appbar">
  <div class="logo">
    <a routerLink="/" class="logo">
      <img src="{{imgPrefix}}/assets/logo-small.png" alt="Logo"/>
      <h1 class="title">CovidAnalysis</h1>
    </a>
  </div>

  <!-- Navigation for the desktop version -->
  <div class="extended-navigation">
    <nav>
      <ul>
        <li>
          <a href="#" mat-icon-button routerLinkActive="active" routerLink="/marche" class="icon-menu"
             matTooltip="Marche">
            <mat-icon svgIcon="marche" class="menu-icon"></mat-icon>
          </a>
        </li>

        <li>
          <a href="#" mat-icon-button routerLinkActive="active" routerLink="/benchmark" class="icon-menu"
             matTooltip="Benchmark regioni">
            <mat-icon svgIcon="map-marker-multiple-outline" class="menu-icon"></mat-icon>
          </a>
        </li>

        <li>
          <a href="#" mat-icon-button routerLinkActive="active" routerLink="/vaccines" class="icon-menu"
            matTooltip="Vaccini">
            <mat-icon svgIcon="flask-outline" class="menu-icon"></mat-icon>
          </a>
        </li>

        <li>
          <a href="#" mat-icon-button routerLinkActive="active" routerLink="/italy" class="icon-menu"
             matTooltip="Italia">
            <mat-icon svgIcon="flag-variant-outline" class="menu-icon"></mat-icon>
          </a>
        </li>

        <li>
          <a href="#" mat-icon-button routerLinkActive="active" routerLink="/feed" class="icon-menu"
             matTooltip="Covid Twitter feed">
            <mat-icon svgIcon="twitter" class="menu-icon"></mat-icon>
          </a>
        </li>

        <li>
          <a href="#" class="text-menu" mat-ripple routerLinkActive="active" routerLink="/home" matTooltip="Home">
            <mat-icon svgIcon="home-outline" class="icon"></mat-icon>
            <span class="title">Home</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="collapsable-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
            aria-label="Button used to access the website menu">
      <mat-icon svgIcon="menu"></mat-icon>

    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">
        <mat-icon svgIcon="home-outline" class="menu-icon"></mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item routerLink="/feed">
        <mat-icon svgIcon="twitter" class="menu-icon"></mat-icon>
        <span>Covid Twitter feed</span>
      </button>

      <button mat-menu-item routerLink="/italy">
        <mat-icon svgIcon="flag-variant-outline" class="menu-icon"></mat-icon>
        <span>Italia</span>
      </button>

      <button mat-menu-item routerLink="/vaccines">
        <mat-icon svgIcon="flask-outline" class="menu-icon"></mat-icon>
        <span>Vaccini</span>
      </button>

      <button mat-menu-item routerLink="/benchmark">
        <mat-icon svgIcon="map-marker-multiple-outline" class="menu-icon"></mat-icon>
        <span>Benchmark</span>
      </button>

      <button mat-menu-item routerLink="/marche">
        <mat-icon svgIcon="marche" class="menu-icon"></mat-icon>
        <span>Marche</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
