/**
 * This file contains the main color palette of the app.
 */
$primaryColor: #42aaab;
$secondaryColor: #eff6f6;
$tertiaryColor: #f5f6f8;
$primaryControlColor: #000000;
$secondaryControlColor: #727F93;
$backgroundColor: #FFFFFF;
$okColor: #14AF14;
$warningColor: #fab11f;
$errorColor: #f44336;
$dividerColor: #e5e5e5;
$beerColor: #f5ad1d;

