/**
 * This file contains the main color palette of the app.
 */
$primaryColor: #42aaab;
$secondaryColor: #eff6f6;
$secondaryColorTransp: rgba(239, 246, 246, 0.2);
$tertiaryColor: #f5f6f8;
$primaryControlColor: #000000;
$secondaryControlColor: #727F93;
$tertiaryControlColor: #8c97a7;
$backgroundColor: #FFFFFF;
$dividerColor: #e5e5e5;

$primaryControlColorDark: #ffffff;
$secondaryControlColorDark: #ffffff;
$backgroundColorDark: #242424;
$secondaryColorDark: #5c6a6a;
$tertiaryControlColorDark: #2b2b2b;
$dividerColorDark: #505050;

$okColor: #14AF14;
$warningColor: #fab11f;
$errorColor: #f44336;
$beerColor: #f5ad1d;
