@import "~src/styles/utils";

.carousel {
  width: 100%;
  border-radius: 0.5em;
  @include responsiveProp(border-radius, $defaultMargin);
  @include responsiveProp(margin-bottom, $defaultMargin);
  border-color: $dividerColor;
  border-width: 1px;
  border-style: solid;

  &.dark {
    border-color: $dividerColorDark;


      .slide {
        border-top-color: $dividerColorDark;
        border-bottom-color: $dividerColorDark;
        background-color: $secondaryColorDark;
      }

  }

  .controls {
    @include responsiveProp(padding, $defaultMargin);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .control-smartphone {
      @include show();
      @include forDesktopOnly() {
        @include hide();
      }
    }

    .control-desktop {
      @include hide();
      @include forDesktopOnly {
        @include show();
      }
    }
  }

  .slide {
    border-top-color: $dividerColor;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: $dividerColor;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;

    background-color: $secondaryColor;
    @include responsiveProp(padding, $quarterMargin);
    @include responsiveProp(padding-top, $defaultMargin);
    @include responsiveProp(padding-bottom, $defaultMargin);
    width: 100%;

    .slide-img {
      width: 100%;
    }
  }

  .description {
    @include responsiveProp(padding, $defaultMargin);
  }
}



