<div class="carousel" [ngClass]="{'dark': isThemeDark}">
  <!-- controls -->
  <div class="controls">
    <button mat-button class="control-desktop" [disabled]="totSlides <= 1" (click)="onPreviousClick()">
      <mat-icon svgIcon="chevron-left" class="arrow-left"></mat-icon>
      Grafico precedente
    </button>

    <button mat-icon-button class="control-smartphone" [disabled]="totSlides <= 1" (click)="onPreviousClick()">
      <mat-icon svgIcon="chevron-left"></mat-icon>
    </button>

    <div>
      {{ currentSlide + 1 }} / {{ totSlides }}
    </div>

    <button mat-icon-button class="control-smartphone" [disabled]="totSlides <= 1" (click)="onNextClick()">
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>


    <button mat-button class="control-desktop"  [disabled]="totSlides <= 1" (click)="onNextClick()">
      Grafico successivo
      <mat-icon svgIcon="chevron-right" class="arrow-right"></mat-icon>
    </button>

  </div>

  <ng-container *ngFor="let slide of slides; let i = index">

    <div *ngIf="currentSlide == i" class="slide">
      <img  [src]="slide.src" [alt]="slide.description" class="slide-img" />
    </div>

    <div *ngIf="currentSlide == i" class="description">
      {{slide.description}}
    </div>
  </ng-container>

</div>
