<div class="carousel">
  <!-- controls -->
  <div class="controls">
    <button mat-button class="control-desktop" (click)="onPreviousClick()">
      <mat-icon svgIcon="chevron-left" class="arrow left"></mat-icon>
      Grafico precedente
    </button>

    <button mat-button class="control-desktop" (click)="onNextClick()">
      Grafico successivo
      <mat-icon svgIcon="chevron-right" class="arrow right"></mat-icon>
    </button>

    <button mat-icon-button class="control-smartphone" (click)="onPreviousClick()">
      <mat-icon svgIcon="chevron-left" class="arrow left"></mat-icon>
    </button>

    <button mat-icon-button class="control-smartphone" (click)="onNextClick()">
      <mat-icon svgIcon="chevron-right" class="arrow right"></mat-icon>
    </button>
  </div>

  <ng-container *ngFor="let slide of slides; let i = index">
    <img *ngIf="currentSlide == i" [src]="slide.src"
         [alt]="slide.description" class="slide"/>
  </ng-container>

</div>
