<div class="page">
  <h1>Home</h1>
  <p>
    Benvenuto nel nuovo CovidAnalysis! Sto preparando il restyling del sito, per cui per alcuni giorni i grafici non
    saranno disponibili! Puoi sempre scaricare la immagini aggiornate <a href="">da qui</a>.
  </p>
  <app-image src="docs/parametri_italia.png" alt="Parametri nazionali"></app-image>

  <h1>Altra sezione</h1>
  <p>
    Altro paragrafo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

  </p>
  <div class="right-button-container">
    <a mat-raised-button color="primary" routerLink="/vaccines"><mat-icon class="button-icon" svgIcon="flask-outline"></mat-icon> Vai a sezione vaccini</a>
  </div>
</div>

<app-main-appbar></app-main-appbar>
