<app-page>
  <h1>Vaccini</h1>
  <p>
    Varie analisi ricavate a partire dai dati sui vaccini, sia a livello nazionale, che di benchmark, che per la regione
    Marche. L'ultimo aggiornamento ai dati mostrati in questa pagina risale al {{ vaccinesSummary?.lastUpdate | extendedDate }}.
  </p>

  <app-vaccines-summary-table [vaccinesSummary]="vaccinesSummary"></app-vaccines-summary-table>

  <p>
    Le frecce a fianco agli indicatori di sintesi indicano se il valore è in aumento o diminuzione rispetto
    al giorno/settimana precedente. L'incremento è calcolato in media mobile di 7 giorni, così da rendere il
    valore meno sensibile ai ritardi di registrazione.
  </p>

  <h2>Dosi di vaccino somministrate, distinzione prima dose/richiamo</h2>
  <p>
    Il grafico mostra le dosi di vaccino somministrate giornalmente, distinguendo somministrazioni per prima dose dalle
    somministrazioni per seconda dose. L'altezza complessiva di ogni barra indica il totale delle somministrazioni
    giornaliere.
  </p>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/dosi_italia.png"
             alt="Dosi nazionale"></app-image>

  <h2>Dosi di vaccino somministrate per 100.000 abitanti, benchmark</h2>
  <p>
    Il grafico mostra le singole dosi di vaccino somministrate giornalmente per ogni regione (senza distinzione tra
    prima dose e richiamo). Il dato è scalato su 100.000 abitanti, rendendo così possibile mettere in relazione tra
    loro le regioni, tenendo conto della diversa densità di popolazione. È riportata, con la traccia semi-trasparente,
    la media italiana.
  </p>


  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/dosi_per_regioni.png"
             alt="Dosi per regioni"></app-image>

  <h2>Percentuale popolazione immunizzata</h2>
  <p>
    Il grafico mostra la percentuale di popolazione, per ogni regione del benchmark e per l'Italia (traccia
    semi-trasparente) che puo essere definita immunizzata, ovvero tale da aver ricevuto sia la prima dose che il richiamo.
  </p>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/immunizzati.png"
             alt="Immunizzati"></app-image>

  <h2>Dosi di vaccino somministrate nelle Marche, distinzione prima dose/richiamo</h2>
  <p>
    Il grafico mostra le dosi di vaccino somministrate giornalmente nelle Marche, distinguendo somministrazioni per
    prima dose dalle somministrazioni per seconda dose. L'altezza complessiva di ogni barra indica il totale delle
    somministrazioni giornaliere.
  </p>

  <app-image src="https://maldins46.github.io/CovidAnalysis/assets/data/dosi_marche.png"
             alt="Dosi Marche"></app-image>

</app-page>


