<app-page>
  <h1>Vaccini</h1>
  <p>
    Varie analisi ricavate a partire dai dati sui vaccini, sia a livello nazionale, che di benchmark, che per la regione
    Marche. L'ultimo aggiornamento ai dati mostrati in questa pagina risale al {{ lastUpdate | extendedDate }}.
  </p>

  <app-summary-table [summaryModel]="vaccinesSummaryTable"></app-summary-table>

  <p>
    Le frecce a fianco agli indicatori di sintesi indicano se il valore è in aumento o diminuzione rispetto
    al giorno/settimana precedente. L'incremento è calcolato in media mobile di 7 giorni, così da rendere il
    valore meno sensibile ai ritardi di registrazione.
  </p>

  <h2>Somministrazioni giornaliere</h2>
  <p>
    I grafici seguenti mostrano informazioni relative alle dosi di vaccino somministrate giornalmente. Ciò dà
    un'indicazione sull'andamento della campagna, con particolare focus nel ciò che si è ottenuto negli ultimi giorni.
  </p>

  <app-carousel [slides]="vaccinesAdmSlides"></app-carousel>

  <h2>Copertura vaccinale</h2>
  <p>
    I grafici successivi mostrano informazioni relative alla copertura vaccinale della popolazione.
    Ciò dà un'indicazione sullo stato attuale della campagna, per ogni regione.
  </p>

  <app-carousel [slides]="vaccinesImmunesSlides"></app-carousel>

</app-page>


