<app-summary-table *ngIf="marcheSummary as marcheSummary">
  <thead>
  <tr>
    <th scope="col">Indicatori di sintesi</th>
    <th scope="col">Marche</th>
    <th scope="col">Ancona</th>
    <th scope="col">Macerata</th>
    <th scope="col">Pes. e Urb.</th>
    <th scope="col">Ascoli P.</th>
    <th scope="col">Fermo</th>
  </tr>
  </thead>
  <tbody>
  <tr class="even-row">
    <td class="name">Nuovi positivi nell'ultimo giorno</td>
    <td class="data">
      {{ marcheSummary.marche.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.marche.newPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.ancona.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ancona.newPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.macerata.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.macerata.newPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.pesaroeurbino.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.pesaroeurbino.newPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.ascolipiceno.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ascolipiceno.newPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.fermo.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.fermo.newPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  <tr>
    <td class="name">Nuovi positivi negli ultimi 7 giorni</td>
    <td class="data">
      {{ marcheSummary.marche.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.marche.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.ancona.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ancona.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.macerata.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.macerata.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.pesaroeurbino.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.pesaroeurbino.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.ascolipiceno.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ascolipiceno.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td class="data">
      {{ marcheSummary.fermo.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.fermo.weeklyPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  </tbody>
</app-summary-table>
