<app-summary-table *ngIf="marcheSummary as marcheSummary">
  <thead>
  <tr>
    <th scope="col">Indicatori di sintesi</th>
    <th scope="col">Ancona</th>
    <th scope="col">Macerata</th>
    <th scope="col">Pesaro e Urb.</th>
    <th scope="col">Ascoli Piceno</th>
    <th scope="col">Fermo</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Nuovi positivi nell'ultimo giorno</td>
    <td>
      {{ marcheSummary.ancona.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ancona.newPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.macerata.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.macerata.newPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.pesaroeurbino.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.pesaroeurbino.newPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.ascolipiceno.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ascolipiceno.newPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.fermo.newPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.fermo.newPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  <tr>
    <td>Nuovi positivi negli ultimi 7 giorni</td>
    <td>
      {{ marcheSummary.ancona.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ancona.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.macerata.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.macerata.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.pesaroeurbino.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.pesaroeurbino.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.ascolipiceno.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.ascolipiceno.weeklyPositivesIncrement"></app-increment-icon>
    </td>
    <td>
      {{ marcheSummary.fermo.weeklyPositives | number: '1.0-2' }}
      <app-increment-icon [value]="marcheSummary.fermo.weeklyPositivesIncrement"></app-increment-icon>
    </td>
  </tr>
  </tbody>
</app-summary-table>
