@import "~src/styles/utils";

// theme selector colors
$lightSky: #ebf7ff;
$lightSkyOverlay: #e7f2fa;
$sun: #ffc55d;
$darkSky: #074b6d;
$darkSkyOverlay: #1c2936;
$moon: #fffbe7;

.theme-selector {
  @include responsiveProp(margin-left, $quarterMargin);

  .action {
    transition: 0.2s;

    &.auto-dark {
      background: $tertiaryControlColorDark;
      color: $tertiaryControlColor;
      &:hover {
        background: $secondaryColorTransp;
      }
    }

    &.auto-light {
      background: $tertiaryColor;
      color: $tertiaryControlColor;
      &:hover {
        background: $secondaryColor;
      }
    }

    &.light {
      background: $tertiaryColor;
      color: $sun;

      &:hover {
        background: $lightSkyOverlay;
      }
    }

    &.dark {
      background: $tertiaryControlColorDark;
      color: $moon;

      &:hover {
        background: $darkSkyOverlay;
      }
    }
  }
}
