@import "~src/styles/utils";

a.icon-menu {
  margin-left: 8px;
  border-radius: 24px;
  transition: 0.2s;


  &.dark {

    &:hover {
      background: $secondaryColorTransp;
    }

    &.active {
      color: $primaryColor;
      background: $secondaryColorTransp;
    }
  }

  &:hover {
    background: $secondaryColor;
  }

  &.active {
    color: $primaryColor;
    background: $secondaryColor;
  }
}
