@import "~src/styles/utils";

.bottombar {
  height: 56px;
  background: $backgroundColor;
  box-shadow: $inverseShadow;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;

  &.dark {
    background: $backgroundColorDark;
  }

  @include forDesktopOnly() {
    @include hide();
  }

  a {
    text-decoration: none;
  }
}

.appbar {
  background: $backgroundColor;
  box-shadow: $defaultShadow;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  top: 0;
  width: 100%;

  &.dark {
    background: $backgroundColorDark;
  }


  .headline {
    text-decoration: none;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;

    h1.title {
      @include titleFont;
      color: $primaryColor;
      margin: 0 0 0 8px;
      @include responsiveProp(margin-right, $halfMargin);
      @include singleLineEllispis;
      line-height: 1.6;

      span.subtitle {
        font-weight: 500;
        color: $tertiaryControlColor;
      }
    }

    img.logo {
      height: 100%;
      margin-right: 8px;
    }
  }

  .action {
    color: $tertiaryControlColor;

    &.dark {

      &:hover {
        background: $secondaryColorTransp;
      }
    }
  }

  .right-actions {
    display: flex;
    flex-direction: row;

    a {
      color: $tertiaryControlColor;
    }

    .menu {
      @include hide();

      // keeps element aligned to the right
      @include forDesktopOnly() {
        @include show();
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-inline-start: 0;

        li {
          margin: 0
        }
      }
    }
  }

}

