<mat-toolbar class="appbar">
  <div class="back-action">
    <a href="#" mat-icon-button [matTooltip]="'Torna a ' + backPageName"
       routerLinkActive="active" color="primary"
       [routerLink]="backRoute" [queryParams]="backQueryParams" title="{{ backPageName | titlecase }}">
      <mat-icon color="primary" svgIcon="arrow-left"></mat-icon>
    </a>
  </div>
  <h1 class="title">{{ title }}</h1>

  <div *ngFor="let action of actions" class="action" >
    <button mat-icon-button [matTooltip]="action.name"
            [disabled]="action.disabled" (click)="action.execute()">
      <mat-icon class="menu-icon" svgIcon="{{ action.mdiIcon }}"></mat-icon>
    </button>
  </div>
</mat-toolbar>
